<?xml version="1.0" encoding="utf-8"?>
<!-- 이 파일이 UTF-8 인코딩을 사용하는 XML 문서라는 뜻 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- manifest: 안드로이드 앱의 전체 설정 파일 시작 -->
    <!-- xmlns:android : android: 로 시작하는 속성을 쓰기 위한 선언 -->
    <!-- xmlns:tools : tools: 로 시작하는 속성을 쓰기 위한 선언 -->
    <!-- 지금 이 코드에서는 tools를 실제로 안 쓰고 있어서 없어도 될 수 있음 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 인터넷 권한 추가 -->
    <!-- Retrofit / OkHttp 등으로 백엔드 API 호출할 때 필요 -->

    <queries> <!--앱 가시성 선언 시작-->
        <!-- 팬텀 조회 -->
        <package android:name="app.phantom" />

        <!-- 솔플레어 조회 -->
        <package android:name="com.solflare.mobile" />

        <!-- 백팩 조회 -->
        <package android:name="app.backpack.mobile" />

        <!-- 백팩 딥링크 조회 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data
                android:scheme="https"
                android:host="backpack.app" />
        </intent>

        <!-- 팬텀 유니버설 링크 조회 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data
                android:scheme="https"
                android:host="phantom.app" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Spentopia">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Spentopia">

            <intent-filter>
                <!-- 앱 실행용 기본 인텐트 -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!-- 지갑 앱에서 우리 앱으로 다시 돌아올 콜백용 딥링크 -->
                <action android:name="android.intent.action.VIEW" />

                <!-- 브라우저/외부 앱에서 열릴 수 있게 설정 -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- redirect_link 로 사용할 우리 앱 고유 스킴 -->
                <data
                    android:scheme="spentopia"
                    android:host="wallet-callback" />
            </intent-filter>
        </activity>
    </application>

</manifest>