.indicator[data-progress-value="0"] { transform: translateX(-100%); }
.indicator[data-progress-value="1"] { transform: translateX(-99%); }
.indicator[data-progress-value="2"] { transform: translateX(-98%); }
.indicator[data-progress-value="3"] { transform: translateX(-97%); }
.indicator[data-progress-value="4"] { transform: translateX(-96%); }
.indicator[data-progress-value="5"] { transform: translateX(-95%); }
.indicator[data-progress-value="6"] { transform: translateX(-94%); }
.indicator[data-progress-value="7"] { transform: translateX(-93%); }
.indicator[data-progress-value="8"] { transform: translateX(-92%); }
.indicator[data-progress-value="9"] { transform: translateX(-91%); }
.indicator[data-progress-value="10"] { transform: translateX(-90%); }
.indicator[data-progress-value="11"] { transform: translateX(-89%); }
.indicator[data-progress-value="12"] { transform: translateX(-88%); }
.indicator[data-progress-value="13"] { transform: translateX(-87%); }
.indicator[data-progress-value="14"] { transform: translateX(-86%); }
.indicator[data-progress-value="15"] { transform: translateX(-85%); }
.indicator[data-progress-value="16"] { transform: translateX(-84%); }
.indicator[data-progress-value="17"] { transform: translateX(-83%); }
.indicator[data-progress-value="18"] { transform: translateX(-82%); }
.indicator[data-progress-value="19"] { transform: translateX(-81%); }
.indicator[data-progress-value="20"] { transform: translateX(-80%); }
.indicator[data-progress-value="21"] { transform: translateX(-79%); }
.indicator[data-progress-value="22"] { transform: translateX(-78%); }
.indicator[data-progress-value="23"] { transform: translateX(-77%); }
.indicator[data-progress-value="24"] { transform: translateX(-76%); }
.indicator[data-progress-value="25"] { transform: translateX(-75%); }
.indicator[data-progress-value="26"] { transform: translateX(-74%); }
.indicator[data-progress-value="27"] { transform: translateX(-73%); }
.indicator[data-progress-value="28"] { transform: translateX(-72%); }
.indicator[data-progress-value="29"] { transform: translateX(-71%); }
.indicator[data-progress-value="30"] { transform: translateX(-70%); }
.indicator[data-progress-value="31"] { transform: translateX(-69%); }
.indicator[data-progress-value="32"] { transform: translateX(-68%); }
.indicator[data-progress-value="33"] { transform: translateX(-67%); }
.indicator[data-progress-value="34"] { transform: translateX(-66%); }
.indicator[data-progress-value="35"] { transform: translateX(-65%); }
.indicator[data-progress-value="36"] { transform: translateX(-64%); }
.indicator[data-progress-value="37"] { transform: translateX(-63%); }
.indicator[data-progress-value="38"] { transform: translateX(-62%); }
.indicator[data-progress-value="39"] { transform: translateX(-61%); }
.indicator[data-progress-value="40"] { transform: translateX(-60%); }
.indicator[data-progress-value="41"] { transform: translateX(-59%); }
.indicator[data-progress-value="42"] { transform: translateX(-58%); }
.indicator[data-progress-value="43"] { transform: translateX(-57%); }
.indicator[data-progress-value="44"] { transform: translateX(-56%); }
.indicator[data-progress-value="45"] { transform: translateX(-55%); }
.indicator[data-progress-value="46"] { transform: translateX(-54%); }
.indicator[data-progress-value="47"] { transform: translateX(-53%); }
.indicator[data-progress-value="48"] { transform: translateX(-52%); }
.indicator[data-progress-value="49"] { transform: translateX(-51%); }
.indicator[data-progress-value="50"] { transform: translateX(-50%); }
.indicator[data-progress-value="51"] { transform: translateX(-49%); }
.indicator[data-progress-value="52"] { transform: translateX(-48%); }
.indicator[data-progress-value="53"] { transform: translateX(-47%); }
.indicator[data-progress-value="54"] { transform: translateX(-46%); }
.indicator[data-progress-value="55"] { transform: translateX(-45%); }
.indicator[data-progress-value="56"] { transform: translateX(-44%); }
.indicator[data-progress-value="57"] { transform: translateX(-43%); }
.indicator[data-progress-value="58"] { transform: translateX(-42%); }
.indicator[data-progress-value="59"] { transform: translateX(-41%); }
.indicator[data-progress-value="60"] { transform: translateX(-40%); }
.indicator[data-progress-value="61"] { transform: translateX(-39%); }
.indicator[data-progress-value="62"] { transform: translateX(-38%); }
.indicator[data-progress-value="63"] { transform: translateX(-37%); }
.indicator[data-progress-value="64"] { transform: translateX(-36%); }
.indicator[data-progress-value="65"] { transform: translateX(-35%); }
.indicator[data-progress-value="66"] { transform: translateX(-34%); }
.indicator[data-progress-value="67"] { transform: translateX(-33%); }
.indicator[data-progress-value="68"] { transform: translateX(-32%); }
.indicator[data-progress-value="69"] { transform: translateX(-31%); }
.indicator[data-progress-value="70"] { transform: translateX(-30%); }
.indicator[data-progress-value="71"] { transform: translateX(-29%); }
.indicator[data-progress-value="72"] { transform: translateX(-28%); }
.indicator[data-progress-value="73"] { transform: translateX(-27%); }
.indicator[data-progress-value="74"] { transform: translateX(-26%); }
.indicator[data-progress-value="75"] { transform: translateX(-25%); }
.indicator[data-progress-value="76"] { transform: translateX(-24%); }
.indicator[data-progress-value="77"] { transform: translateX(-23%); }
.indicator[data-progress-value="78"] { transform: translateX(-22%); }
.indicator[data-progress-value="79"] { transform: translateX(-21%); }
.indicator[data-progress-value="80"] { transform: translateX(-20%); }
.indicator[data-progress-value="81"] { transform: translateX(-19%); }
.indicator[data-progress-value="82"] { transform: translateX(-18%); }
.indicator[data-progress-value="83"] { transform: translateX(-17%); }
.indicator[data-progress-value="84"] { transform: translateX(-16%); }
.indicator[data-progress-value="85"] { transform: translateX(-15%); }
.indicator[data-progress-value="86"] { transform: translateX(-14%); }
.indicator[data-progress-value="87"] { transform: translateX(-13%); }
.indicator[data-progress-value="88"] { transform: translateX(-12%); }
.indicator[data-progress-value="89"] { transform: translateX(-11%); }
.indicator[data-progress-value="90"] { transform: translateX(-10%); }
.indicator[data-progress-value="91"] { transform: translateX(-9%); }
.indicator[data-progress-value="92"] { transform: translateX(-8%); }
.indicator[data-progress-value="93"] { transform: translateX(-7%); }
.indicator[data-progress-value="94"] { transform: translateX(-6%); }
.indicator[data-progress-value="95"] { transform: translateX(-5%); }
.indicator[data-progress-value="96"] { transform: translateX(-4%); }
.indicator[data-progress-value="97"] { transform: translateX(-3%); }
.indicator[data-progress-value="98"] { transform: translateX(-2%); }
.indicator[data-progress-value="99"] { transform: translateX(-1%); }
.indicator[data-progress-value="100"] { transform: translateX(0); }
